.form {
  label {
    display: block;
    text-transform: uppercase;
    color: rgba(255,255,255,0.8);
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 14px;
  }
  input:not([type="submit"]), textarea {
    background: none;
    color: rgba(255,255,255,0.8);
    padding: 10px;
    border: 2px solid rgba(255,255,255,0.4);
    margin-bottom: 10px;
    width: 100%;
    @include transition();
    &:focus {
      outline: none;
      border: 2px solid rgba(255,255,255,0.8);
    }
  }
  input::-webkit-input-placeholder {
    color: rgba(255,255,255,0.2);
  }
  input:-moz-placeholder {
    color: rgba(255,255,255,0.2);
  }
  input[type="submit"] {
    border: none;
  }
  .required {
    color: $red;
  }
}

/* Comments of game single */
.form-comment {
  input[type="text"] {
    background: rgba(255,255,255,0.1);
    border: 0;
    width: 100%;
    color: rgba(255,255,255,0.6);
    padding: 10px;
  }
  input[type="submit"] {
    float: right;
    margin: 10px 0;
    border: 0;
    box-shadow: none;
    &:after {
      @include clear();
    }
  }
}
