.tab {
  padding-bottom: 16px;
  margin-bottom: 26px;
  position: relative;
  .tab-child {
    float: left;
    margin: 0 20px;
    color: rgba(255,255,255,0.6);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
    @include transition();
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      cursor: pointer;
      color: rgba(255,255,255,0.8);
    }
    &.active {
      color: #fff;
      &:after {
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: -16px;
        background: $green;
      }
    }
  }
  &:before {
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background: rgba(255,255,255,0.4);
    position: absolute;
    bottom: 0;
  }
  &:after {
    @include clear();
  }
}
