<div class="root active">
	<header>
		<div class="title">
			<h2><a href="#">/_MODEL _ACCESS</a></h2>
			<p class="description">_DESCRIPTION</p>
		</div>
		<input type="filter" class="filter" placeholder="Search..." />
		<a href="#" class="json-display">Raw</a>
	</header>
	<div class="root-content">
		_METHOD
	</div>
</div>
