<ul class="method">
	<ul class="header">
		<li class="icon _METHOD_LOWER">_METHOD_UPPER</li>
		<li class="title">/_METHOD_LOWER/_MODEL _ACCESS</li>
		<li class="description">_DESCRIPTION</li>
		<li class="links">
			_DOC
			_SCREEN
			_LINK
		</li>
	</ul>
	<div class="content">

		<form action="">
			<strong>Query</strong>
			<div class="table">
				<ul class="parameters header">
					<li>Parameter</li>
					<li>Value</li>
					<li>Description</li>
					<li>Type</li>
				</ul>

			_PARAMETER

			</div>

			_DATA

			<input onclick="_FUNCTION" type="submit" value="Launch" class="execute" />
		</form>
		<div class="json tabs">
			<ul>
				<li><a href="#tab-1">Example</a></li>
				<li><a href="#tab-2">Request</a></li>
				<li><a href="#tab-3">Result</a></li>
			</ul>
			<div id="tab-1" class="demo">
				<div class="json-view">_EXAMPLE_RESULT</div>
			</div>
			<div id="tab-2" class="request">
				<div class="json-view"></div>
			</div>
			<div id="tab-3" class="result">
				<div class="json-view"></div>
				<div class="response-time">Response time : <span class="time">0ms</span></div>
			</div>

		</div>
	</div>
</ul>
